+++
# Type of content, set "slide" to display it fullscreen with reveal.js
type="page"
title = "Email Verification"
description = "Policy on verification of email addresses"
date = "2017-12-19T18:36:24+02:00"
# Creator's Display name
creatordisplayname = "Gavin Rozzi"
# Creator's Email
creatoremail = "gr@gavinrozzi.com"
# LastModifier's Display name
lastmodifierdisplayname = "Gavin Rozzi"
# LastModifier's Email
lastmodifieremail = "gr@gavinrozzi.com"
+++

Before a user will be allowed to submit an OPRA request to a public authority, they will be required to provide a valid email address. The email address will be confirmed by way of a confirmation email. No OPRA requests will be sent until the email address is confirmed. The email address may be from any provider, including throwaway / Mailinator type services that allow an individual to anonymously register for an email account due to privacy concerns.

This policy is in place so that we can represent to public authorities that the OPRA requests submitted through the OPRAmachine website are submitted by real persons and not computer spam programs. Email verification also allows us to ensure that users are not making use of duplicate accounts. This also serves to increase our sending reputation with email providers by preventing any spam and having mechanisms in place to limit its reach.
